@import "tailwindcss";

/* flex / grid = min-w-0 min-h-0 (if any problems related to layout in flexbox / grid, always try this) */
/* transform-gpu (if any problems with animations / transitions, always try this) */
/* always wrapper + img -> aspect-ratio + width on wrapper, w-full + h-full + object-fit on img */
/* https://getcssscan.com/css-box-shadow-examples */

@utility animate-smooth {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, scale, rotate, translate, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

@utility overlay-gradient {
  @apply bg-linear-to-t from-neutral-900/80 via-neutral-900/50 to-transparent;
}

@theme {
  --shadow-8: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

